body{
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
}

td, th {
  width: auto;
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
}

tbody > tr:hover{background-color:#EEE;cursor: pointer}
tbody > tr{transition:all .25s ease-in-out}
